Coursera Capstone Project - Week 3, 
Toronto Neighborhood K-Mean Clustering

In [31]:
##for importing HTML data from Toronto, Canada
import urllib.request
import numpy as np
import pandas as pd
import wget
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)

In [32]:
page

In [33]:
#import beautiful soup to format HTML
from bs4 import BeautifulSoup

In [34]:
#jupyter prefers parse type
soup = BeautifulSoup(page, "lxml")

#table starts with <table> tag <table class = "wikitable sorttable">

In [35]:
right_table = soup.find('table', class_='wikitable sortable')

In [36]:
A=[]
B=[]
C=[]
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame(A, columns = ['Postal Code'])
df['Borough']=B
df['Neighbourhood']=C
df.replace(r'\s', '', regex = True, inplace = True)
df

,Postal Code,Borough,Neighbourhood
0,M1A,Notassigned,Notassigned
1,M2A,Notassigned,Notassigned
2,M3A,NorthYork,Parkwoods
3,M4A,NorthYork,VictoriaVillage
4,M5A,DowntownToronto,"RegentPark,Harbourfront"
...,...,...,...
175,M5Z,Notassigned,Notassigned
176,M6Z,Notassigned,Notassigned
177,M7Z,Notassigned,Notassigned
178,M8Z,Etobicoke,"MimicoNW,TheQueenswayWest,SouthofBloor,Kingswa..."
179,M9Z,Notassigned,Notassigned

In [39]:
#Drop not assigned boroughs
cleaned_df = df[df.Borough != 'Notassigned']
toronto_df = pd.DataFrame(cleaned_df)

In [40]:
#display data
print(toronto_df)

    Postal Code          Borough  \
2           M3A        NorthYork
3           M4A        NorthYork
4           M5A  DowntownToronto
5           M6A        NorthYork
6           M7A  DowntownToronto
..          ...              ...
160         M8X        Etobicoke
165         M4Y  DowntownToronto
168         M7Y      EastToronto
169         M8Y        Etobicoke
178         M8Z        Etobicoke

                                         Neighbourhood
2                                            Parkwoods
3                                      VictoriaVillage
4                              RegentPark,Harbourfront
5                        LawrenceManor,LawrenceHeights
6              Queen'sPark,OntarioProvincialGovernment
..                                                 ...
160            TheKingsway,MontgomeryRoad,OldMillNorth
165                                 ChurchandWellesley
168  BusinessreplymailProcessingCentre,SouthCentral...
169  OldMillSouth,King'sMillPark,Sunnylea,HumberBay...
178  MimicoNW,TheQueenswayWest,SouthofBloor,Kingswa...

[103 rows x 3 columns]

In [41]:
toronto_df.shape

(103, 3)

In [44]:
wget_url = 'http://cocl.us/Geospatial_data'
file_name = wget.download(wget_url)

In [65]:
toronto_geo = pd.read_csv(file_name)
toronto_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [66]:
result = toronto_df.merge(toronto_geo, on = 'Postal Code')
result.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,NorthYork,Parkwoods,43.753259,-79.329656
1,M4A,NorthYork,VictoriaVillage,43.725882,-79.315572
2,M5A,DowntownToronto,"RegentPark,Harbourfront",43.654260,-79.360636
3,M6A,NorthYork,"LawrenceManor,LawrenceHeights",43.718518,-79.464763
4,M7A,DowntownToronto,"Queen'sPark,OntarioProvincialGovernment",43.662301,-79.389494