In [2]:
##for importing HTML data from Toronto, Canada
import urllib.request
import numpy as np
import pandas as pd
import wget
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)

In [3]:
#import beautiful soup to format HTML
from bs4 import BeautifulSoup

In [4]:
#jupyter prefers parse type
soup = BeautifulSoup(page, "lxml")

In [5]:
right_table = soup.find('table', class_='wikitable sortable')

In [6]:
#sort html into readable columns
A=[] 
B=[]
C=[]
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [7]:
import pandas as pd

In [8]:
#assign HTML to dataframe
df = pd.DataFrame(A, columns = ['Postal Code'])
df['Borough']=B
df['Neighbourhood']=C
df.replace(r'\s', '', regex = True, inplace = True)
df

,Postal Code,Borough,Neighbourhood
0,M1A,Notassigned,Notassigned
1,M2A,Notassigned,Notassigned
2,M3A,NorthYork,Parkwoods
3,M4A,NorthYork,VictoriaVillage
4,M5A,DowntownToronto,"RegentPark,Harbourfront"
...,...,...,...
175,M5Z,Notassigned,Notassigned
176,M6Z,Notassigned,Notassigned
177,M7Z,Notassigned,Notassigned
178,M8Z,Etobicoke,"MimicoNW,TheQueenswayWest,SouthofBloor,Kingswa..."
179,M9Z,Notassigned,Notassigned

In [9]:
#clean dataframe
#Drop not assigned boroughs
cleaned_df = df[df.Borough != 'Notassigned']
toronto_df = pd.DataFrame(cleaned_df)

#display data
toronto_df.head()

  Postal Code          Borough                            Neighbourhood
2         M3A        NorthYork                                Parkwoods
3         M4A        NorthYork                          VictoriaVillage
4         M5A  DowntownToronto                  RegentPark,Harbourfront
5         M6A        NorthYork            LawrenceManor,LawrenceHeights
6         M7A  DowntownToronto  Queen'sPark,OntarioProvincialGovernment

In [10]:
toronto_df.shape

(103, 3)